
.bagbutton {
  font-family: sans-serif;
  font-size: 1.3 rem;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px 20px;
  /* margin: 10px 10px; */
  margin-bottom: 10px;
  background: #fd7421;
  color: #000;
  width: 100%;
  justify-items: left;
}

.bagbutton:hover {
  background :white;
  border: 1px solid #fd7421;
}

.modalBtn {
  font-family: sans-serif;
  font-size: 1.3 rem;
  background: none;
  border-color: white;
}

.container {
  display: grid;
  background-color: #f8f8f8;
}

.infomodal {
  justify-items: center;
  align-items: center;
  background-color: white;
  position: absolute;
  width: 500px;
  height: 150px;
  /* top: 50%;
  left: 50%; */
  margin-top: -100px;
  margin-left: -250px;
  box-shadow: 10px 5px 20px rgba(128, 128, 128, 0.377);
  z-index: 2;
}

.info {
  float: right;
  width: 350px;
  height: 650px;
  padding-right: 20px;
  padding-left: 20px;
  margin-inline-start: 70%;
  /* margin-inline-end: 35%; */
  margin-top: 2%;
  justify-items: left;
  background-color: white;
  /* z-index: 1; */
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 150px;
  margin-top: 75px;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.24);
}

.stat {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-right: 35%;
  padding-left: 35%;
  border-right: 1px solid rgba(128, 128, 128, 0.24);
}

.statTwo {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.threecolumns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: left;
  align-items: center;
}

.threecolumnstwo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.twocolumns {
  display: grid;
  grid-template-columns: 6fr 1fr 6fr;
}

.twocolumnstwo {
  display: grid;
  grid-template-columns: 20fr 1fr 44fr;
  justify-content: left;
  align-items: left;
}
.twocolumnsthree {
  display: grid;
  grid-template-columns: 1fr 40fr;
  align-items: center;
}

.twocolumnsfour {
  display: grid;
  grid-template-columns: 20fr 40fr;
  justify-content: left;
  align-items: left;
}

.textincol3 {
  margin-left: 10px;
}

.brand {
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-size: 30pt;
  margin: 0;
}


.title {
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  font-size: 18pt;
  margin: 0;
}

.price {
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-size: 18pt;
  margin: 0px;
  padding: 0px;
}

.text {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 9pt;
}

.statText {
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  font-size: 24pt;
  padding: 0px;
  margin: 0px;
}


.green {
  color: green;
}
.red {
  color: red;
}


.buybuttons {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  color: none;
  text-align: left;
}

.stars {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.star {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.halfStar {
  max-width: 100%;
}

.selectedButton {
  border-bottom: 2px solid #3399cc;
}

.buttonsInSelect {
  padding-bottom: 15px;
}
.buttonsInSelect:hover {
  color: #3399cc;
}
.selectedButtonDiv {
  border-bottom: 1px solid grey;
}

.counterButton {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 14pt;
  text-align: center;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.24);
  padding: 10%;
}

.counterButtonNumber {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 14pt;
  text-align: center;
  justify-content: center;
  border-top: 1px solid rgba(128, 128, 128, 0.24);
  border-bottom: 1px solid rgba(128, 128, 128, 0.24);
  padding: 10%;
}

.counterParagraph {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 14pt;
  color: white;
  text-align: center;
  justify-content: center;
  border-top: 1px solid rgba(128, 128, 128, 0.24);
  border-bottom: 1px solid rgba(128, 128, 128, 0.24);
  padding: 10%;
}

.counterButtonDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.counterButtonDivAlt {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.greyed {
  color:rgba(128, 128, 128, 0.24);
}

.icircle {
  text-align: center;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.24);
  border-radius: 6px;
}

.limit {
  display: grid;
  grid-template-columns: 3fr 3fr;
  align-items: center;
  text-align: right;
  justify-content: center;
}

.limitTwo {
  display: grid;
  grid-template-columns: 6fr 1fr;
  align-items: center;
  text-align: center;
  justify-content: center;
}


.limitSpace {
  margin-right: 5px;
}

.counterArea {
  margin-bottom: 10px;
}

.spaceForWishList {
  padding-bottom: 10px;
}

.blue {
  color: #3399cc;
}

.texttwo {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 12pt;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.modaltexttwo {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 12pt;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.rmPadding {
  padding-bottom: 0px;
}

.rmMargin {
  margin-bottom: 0px;
}

.modalTitle {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 14pt;
  text-align: center;
  margin: 0;
  padding: 0;
}

.modalClose {
  text-align: right;
}
